<h2>Incidents</h2>
<div class="row row-cols-1" *ngIf="isUserLoggedIn">
    <div class="col toolBar">
        <button type="button" [routerLink]="['/incident',0]" class="btn btn-primary btn-floating"> Add Incident</button>
    </div>
</div>
<div class="row row-cols-1  ">
    <div class="col" *ngFor="let incident of incidents">
        <div class="card cardlist">
            <div class="card-body">
                <h5 class="card-title">{{incident.title}}</h5>
                <p class="card-text">{{incident.description}}</p>
                <div class="d-flex flex-row justify-content-between row">
                    <div class="col-sm-1">
                        <span class="badge bg-danger" *ngIf="incident.status == 'Open'">{{incident.status}}</span>
                        <span class="badge bg-success" *ngIf="incident.status == 'Closed'">{{incident.status}}</span>
                    </div>
                    <div class="col d-flex flex-row justify-content-between ">
                        <p class="card-text">Start date: {{incident.start | date: 'dd/MM/yyyy, h:mm: a'}}</p>
                        <p class="card-text ml-" *ngIf="incident.status == 'Closed'">End date: {{incident.finish | date: 'dd/MM/yyyy, h:mm: a'}}</p>
                    </div>
                    <div class="col d-flex d-flex-row justify-content-end ">
                        <button type="button" [routerLink]="['/details',incident.idIncident]" class="btn btn-primary btn-sm cardlist">Details</button>
                        <button type="button" *ngIf="isUserLoggedIn" [routerLink]="['/incident',incident.idIncident]" class="btn btn-warning btn-sm cardlist">Update</button>
                        <button type="button" *ngIf="isUserLoggedIn" (click)="deleteIncident(incident.idIncident)" class="btn btn-danger btn-sm cardlist">Delete</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col" *ngIf="incidents.length == 0 ">
        <p>No incidents availables</p>
    </div>


</div>