<h2>Updates</h2>
<div class="row row-cols-1" *ngIf="isUserLoggedIn">
    <div class="col toolBar">
        <button type="button" [routerLink]="['/update',idIncident,0]" class="btn btn-primary btn-floating"> Add Update</button>
    </div>
</div>
<div class="row row-cols-1  ">
    <div class="col" *ngFor="let update of updates">
        <div class="card cardlist">
            <div class="card-body">
                <p class="card-text">Content: {{update.updateContent}}</p>

                <div class="d-flex flex-row justify-content-between row">
                    <div class="col-sm-3">
                        <span class="badge bg-info" *ngIf="update.type == 'Investigation'">{{update.type}}</span>
                        <span class="badge bg-primary" *ngIf="update.type == 'Update'">{{update.type}}</span>
                        <span class="badge bg-success" *ngIf="update.type == 'Resolution'">{{update.type}}</span>
                    </div>
                    <div class="col d-flex flex-row justify-content-between ">
                        <p class="card-text">{{update.updateDt | date: 'dd/MM/yyyy, h:mm: a'}}</p>
                    </div>
                    <div class="col d-flex d-flex-row justify-content-end ">
                        <button type="button" *ngIf="isUserLoggedIn" [routerLink]="['/update',idIncident,update.idUpdate]" class="btn btn-warning btn-sm cardlist">Update</button>
                        <button type="button" *ngIf="isUserLoggedIn" (click)="deleteIncident(update.idUpdate)" class="btn btn-danger btn-sm cardlist">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" *ngIf="updates.length == 0 ">
        <p>No updates available for this incident</p>
    </div>
</div>