<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
             Incidents
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active" routerLinkActive="active" routerLink="home">Home</a>
                </li>
                <li class="nav-item" *ngIf="!isUserLoggedIn">
                    <a class="nav-link" routerLinkActive="active" routerLink="login" href="#">Login</a>
                </li>
                <li class="nav-item" *ngIf="isUserLoggedIn">
                    <a class="nav-link" href="#" (click)="logout()">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" *ngIf="isUserLoggedIn" routerLink="home" href="#">Hello {{user.user}}</a>
                </li>


            </ul>


        </div>
    </div>

</nav>