<div class="row row-cols-1  ">
    <div class="col" style="display: flex; justify-content: center; ">
        <div class="card">
            <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="sendForm()">
                    <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="loginModel.user">
                    <br>
                    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="loginModel.password">
                    <br>
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
            </div>
        </div>

    </div>
</div>