<div class="row   ">
    <div class="col" style="display: flex; justify-content: center; ">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Update</h5>
                <form #loginForm="ngForm" (ngSubmit)="submitUpdate()">

                    <textarea rows="3" required cols="10" class="form-control" name="updateContent" placeholder="Content" [(ngModel)]="update.updateContent">
                    </textarea>
                    <br>
                    <div class="timeTypeCont row">

                        <div class="col sm-2">
                            <select name="status" required class="form-select" [(ngModel)]="update.type">    
                                <option value="" selected disabled>Status</option>
                                <option value="Resolution" >Resolution</option>
                                <option value="Update">Update</option>
                                <option value="Investigation">Investigation</option>                            
                            </select>
                        </div>

                    </div>
                    <div class="right">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>