<div class="row   ">
    <div class="col" style="display: flex; justify-content: center; ">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Incident</h5>
                <form #loginForm="ngForm" (ngSubmit)="submitIncident()">
                    <input type="text" required class="form-control" name="title" placeholder="Title" [(ngModel)]="incident.title">
                    <br>
                    <textarea rows="3" required cols="10" class="form-control" name="description" placeholder="Description" [(ngModel)]="incident.description">
                    </textarea>

                    <div class="d-flex justify-content-evenly row mt-4">
                        <div class="col">
                            <input type="text" required class="form-control" name="stats" placeholder="Stats" [(ngModel)]="incident.stats">
                        </div>
                        <div class="col">
                            <select name="status" required class="form-select" [(ngModel)]="incident.status">    
                                <option value="" selected disabled>Status</option>
                                <option value="Open" >Open</option>
                                <option value="Closed">Closed</option>                        
                            </select>
                        </div>
                    </div>

                    <br>
                    <div class="right">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>